{% extends 'base.html.twig' %}
{% block body %}
    <div class="content-wrapper">
        <section class="content">
          <div class="card">
            <div class="card-header"><p class="h5">Notes Collectives</p></div>
            <div class="card-body table-responsive p-0" style="height: 390px;" >
                <div class="row">
                    <div class="col-4">
                        <table class="table table-head-fixed text-nowrap table-bordered">
                            <tr>
                                <td>Matiere</td>
                               {% for row in notes %}
                                    <td>{{row.inscription.etudiant.nom}}</td>
                                {% endfor %}
                            </tr>
                            {% for row in matieres %}
                            <tr>
                                <td>{{row.nom}}</td>
                                {% for row in notes %}
                                    <td>{{row.moyenne}}</td>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                            
                        </table>
                    </div>
                    <!--/col-->
                    {# <div class="col">
                        <table class="table table-head-fixed text-nowrap table-bordered">
                            <tr>
                                {% for row in notes %}
                                    <td>{{row.inscription.etudiant.nom}}</td>
                                {% endfor %}
                            </tr>
                        </table>
                    </div> #}
                </div>
                <!--/row-->
            
            </div>
            <div class="card-footer"><p class="h5">Pied de Page ...</p></div>
          </div>
          <!--/card-->
        </section>
    </div>
{% endblock %}
