{% extends 'base.html.twig' %}
{% block body %}
    <div class="content-wrapper">
        <section class="content">
        {% for note in inscriptions %}
          <div class="card col-10 offset-1">
            <div class="card-header">
                <div class="row">
                    <div class="col-5">
                        UNIVERSITE CATHOLIQUE SAINT BENOIT DE YAOUNDE <br>
                        TEL: 654-567-876 <br> EMAIL: contactsaintbenoit@gmail.com <br><br>

                        Etudiant: <strong>{{note.etudiant}}</strong>
                    </div>
                    <!--/col-->
                    <div class="col">
                        <img src="{{asset('images/logo1.jfif')}}" alt="Logo" srcset="" height='150'>
                    </div>
                    <!--/col-->
                    <div class="col-5">
                        
                        MINISTRE DE L'ENSEIGNEMENT SUPERIEUR PAIX-TRAVAIL-PATRIE
                        CHANCELIER DES ORDRES ACADEMIQUES
                    </div>
                    <!--/col-->
                </div>
            </div>
            <div class="card-body table-responsive p-0" style="height: 390px;" >
            
                <table class='table table-bordered'> 
                    <div class='row '>
                        <div class="col-12">
                            <thead>
                                <tr>
                                <td>Matiere</td>
                                <td>Note</td>

                                </tr>
                            </thead>
                        </div>
                    </div>
                    <div class='row '>
                        <div class='col '>
                            
                            <tbody>
                                 {% for row in notes %}
                                    <tr>
                                        <td>{{row.matiere}}</td>
                                        <td>{{row.moyenne}}</td>
                                    </tr>
                                    
                                 {% else %}
                                    
                                 {% endfor %}
                                
                            </tbody>
                           
                        </div>
                        
                        </div>
                    </div>
                </table>
            
            </div>
            <div class="card-footer"><p class="h5">Pied de Page ...</p></div>
          </div>
           {% endfor %}
          <!--/card-->
        </section>
    </div>
{% endblock %}
