{% extends 'base.html.twig' %}
{% block body %}
    <div class="content-wrapper">

        <div class="card col-11">
            <div class="card-header">
                <div class="col-md-12">
                    <table class='offset-3' style='background:pink; margin-top:1%;margin-bottom:1%; margin-top:1%; width: 260px;' border='2'>
                        <tr>
                            <td>RELEVE DE NOTES</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="card-body">
                <table class="table table-bordered">
                    <tr>
                        <th>Etudiant</th>
                        <th>Matiere</th>
                        <th>Note</th>
                        <th>Coeff</th>
                        <th>Note * coeff</th>
                        <th>Appr</th>
                    </tr>
                    {% for note in notes %}
                        <tr>
                            <td>{{note.etudiant}}</td>
                            <td>{{ note.matiere }}</td>
                            <td>{{ note.moyenne }}</td>
                            <td>2</td>
                            <td>29/40</td>
                            <td>ECA</td>
                        </tr>

                    {% endfor %}
                </table>
                {% set c = [1,2,3,4,5,6,7,8,9,10] %}
                <!-- /table--> <br>
                <a style='color:blue;' class='btn btn-default' href="">Precedent</a>
                {% for c1 in c %} 
                    <a style='color:blue;' class='btn btn-default' href="">{{c1}}</a>
                {% endfor %}
                <a style='color:blue;' class='btn btn-default' href="">Suivant</a>
            </div>
            <!-- /card-body-->
            <div class="card-footer"></div>
        </div>

    </div>
    <!-- /card-->

</div></div>{% endblock %}
