{% extends 'base.html.twig' %}

{% block body %}
  <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Info boxes -->
        <div class="row">
          
          <!-- fix for small devices only -->
         
          <div class="clearfix hidden-md-up"></div>

          <div class="col-12 col-sm-6 col-md-3 offset-4">
            <div class="info-box mb-3">
              <a href="{{path('etudiants_liste')}}" class="info-box-icon bg-primary elevation-1"><i class="fa fa-th"></i></a>

              <div class="info-box-content">
                <span class="info-box-text">Liste des</span>
                <span class="info-box-text">etudiants</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
         
        <div class="row">
          <div class="col-md-5 offset-4">
           
            <div class="form-inline">
              <div class="card insert-filiere">
                <div class="card-body">
                <form action="{{path('notes_etudiants_ajout_notes')}}" method="post">
                     <p>Nom  </p>
                    <div class="form-group">
                        <input type="text" name="nom_et" class="form-control" id="">
                    </div>
                     <p>Prenom</p>
                    <div class="form-group">
                        <input type="text" name="prenom_et" class="form-control" id="">
                    </div>
                     <p>Sexe</p>
                    <div class="form-group">
                        <select type="text" name="sexe_et" class="form-control"  style="width:205px;">
                            <option value="M">Masculin</option>
                             <option value="F">Feminin</option>
                        </select>
                    </div>
                    <br>
                    <div class="form-group">
                        <button type="submit" style="width:190px;" class="btn btn-success">Valider</button>
                    </div>
                </form>
                </div>
                
              </div>
            
            </div>
            
          </div>
         
        </div>
        <!-- /row-->
        
        
    </section>
    <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
{% endblock %}
