{% extends 'base.html.twig' %}

{% block body %}
  <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

    <!-- Main content -->
    <section class="content">
    <br>
      <div class="container-fluid">
        <!-- Info boxes -->
        
        <div class="row">
          <div class="col-md-5 offset-2">
           
            <div class="">
              <div class="card insert-filiere">
                <div class="card-body">
                <form action="{{path('etudiants_ajout')}}" method="post">
                     <p>Nom  </p>
                    <div class="form-group">
                        <input type="text" name="nom" class="form-control" id="">
                    </div>
                     <p>Prenom</p>
                    <div class="form-group">
                        <input type="text" name="prenom" class="form-control" id="">
                    </div>
                     <p>Sexe</p>
                    <div class="form-group">
                        <select type="text" name="sexe" class="form-control"  style="width:100%;">
                            <option value="M">Masculin</option>
                             <option value="F">Feminin</option>
                        </select>
                    </div>
                    <br>
                    <div class="form-group">
                        <button type="submit" style="width:100%;" class="btn btn-success">Valider</button>
                    </div>
                </form>
                </div>
                
              </div>
            
            </div>
            
          </div>
         
        </div>
        <!-- /row-->
        
        
    </section>
    <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
{% endblock %}
