<!DOCTYPE html>
<html xmlns:th="http//www.thymleaf.org">
<head th:replace="link::link">
<meta charset="UTF-8">
<title>First app!</title>

</head>
<body>
	
    <div th:replace="nav::nav">
    
    </div>
    <br><br>
    
    <div class="container">
      
            <div class="row">
          	<div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Cotisations</h3>

                <div class="card-tools">
                  <div class="input-group input-group-sm" style="width: 150px;">
                    <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                    <div class="input-group-append">
                      <button type="submit" class="btn btn-default">
                        <i class="fas fa-search"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.card-header -->
              <form method="POST" action="#" th:action="@{/nouvelleCotisation}" th:object="${cotisation}" class="form-horizontal">
              <div class="card-body table-responsive p-0" style="height: 220px;">
                <table class="table table-head-fixed text-nowrap">
                	<div class="col-md-6">
						<div class="form-group">
						  <label>Membre</label>
						  <select type="text" th:field="*{inscription}"  class="form-control select2" style="width: 100%;">
						    <option th:each="inscription : ${inscriptions}" selected="selected"  th:value="${inscription.id}"  th:text="${inscription.nomComplet}"></option>
						   
						  </select>
						</div>
					 </div>
                  <thead>
                    <tr>
                      <th>Secours</th>
                      <th>Epargne</th>
                      <th>Asurance</th>
                      <th>Transport</th>
                      <th>Ration</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><input type="number" th:field="*{secours}" class="form-control" min="500">
                       <td><input type="number" class="form-control">
                        <td><input type="number" class="form-control">
                        <td><input type="number" class="form-control">
                        <td><input type="number" class="form-control">
                        <td><input type="submit" class="btn btn-success" value="Enregistrer">
                    </tr>
                    
                  </tbody>
                </table>
              </div>
              </form>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
        <!-- /.row -->
        
         <div class="row">
          	<div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Etat des cotisations courantes</h3>

                <div class="card-tools">
                  <div class="input-group input-group-sm" style="width: 150px;">
                    <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                    <div class="input-group-append">
                      <button type="submit" class="btn btn-default">
                        <i class="fas fa-search"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0" style="height: 300px;">
                <table class="table table-head-fixed text-nowrap">
                  <thead>
                    <tr>
                    	<th>ID</th>
                      <th>Membre</th>
                      <th>Secours</th>
                      <th>Epargne</th>
                      <th>Asurrance</th>
                      <th>Transport</th>
                      <th>Ration</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr th:each="cotisation : ${cotisations}">
                      <td th:text="${cotisation.id}"></td>
                      <td th:text="${cotisation.inscription}"></td>
                      <td th:text="${cotisation.secours}"></td>
                      <td><span class="tag tag-success">0</span></td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                    </tr>
                    
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
        <!-- /.row -->
		
    </div>

	<!-- jQuery -->
	<script th:src="@{plugins/jquery/jquery.min.js}"></script>
	<!-- Select2 -->
	<script th:src="@{plugins/select2/js/select2.full.min.js}"></script>
	
	<!-- Page specific script -->
	<script>
	  $(function () {
	    //Initialize Select2 Elements
	    $('.select2').select2()
	
	  })
	</script>

</body>
</html>