<!DOCTYPE html>
<html xmlns:th="http//www.thymleaf.org">
<head th:replace="link::link">
<meta charset="UTF-8">
<title>First app!</title>

</head>
<body>
	
	<div th:replace="nav::nav">
    
    </div>
    <br><br>
    
    <div class="container">
      
		<!-- Horizontal Form -->
            <div class="card card-info">
              <div class="card-header">
                <h3 class="card-title">Inscription du membre</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form method="POST" action="#" th:action="@{/nouvelleInscription}" th:object="${inscription}" class="form-horizontal">
                <div class="card-body">
                  <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Nom complet</label>
                    <div class="col-sm-10">
                      <input type="text" th:field="*{nomComplet} " class="form-control" id="inputEmail3" placeholder="Nom complet">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputContact" class="col-sm-2 col-form-label">Contact</label>
                    <div class="col-sm-10">
                      <input type="text" th:field="*{contact} " class="form-control" id="inputContact" placeholder="Contact">
                    </div>
                  </div>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                  <button type="submit" class="btn btn-info">Inscrire</button>
                  <button type="reset" class="btn btn-default float-right">Effacer</button>
                </div>
                <!-- /.card-footer -->
              </form>
            </div>
            <!-- /.card -->
            
            <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Liste des membres</h3>

                <div class="card-tools">
                  <div class="input-group input-group-sm" style="width: 150px;">
                    <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                    <div class="input-group-append">
                      <button type="submit" class="btn btn-default">
                        <i class="fas fa-search"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0" style="height: 300px;">
                <table class="table table-head-fixed text-nowrap">
                  <thead>
                    <tr>
                      <th>ID</th>
                       <th>Membre</th>
                      <th>Contact</th>
                      <th>Statut</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr th:each="inscription : ${inscriptions}">
                      <td th:text="${inscription.id}"></td>
                      <td th:text="${inscription.nomComplet}"></td>
                      <td th:text="${inscription.contact}"></td>
                      <td><span class="tag tag-success">Nouveau</span></td>
                      <td>
                      <a th:href="@{/modificationContact/{id}(id=${inscription.id})}" class="btn btn-primary">Mise à jour</a>
                      <a th:href="@{/suppressionMembre/{id}(id=${inscription.id})}" class="btn btn-danger">Suppression</a>
                      </td>
                    </tr>
                   
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
        <!-- /.row -->
		
    </div>

	

</body>
</html>