{% extends 'base.html.twig' %}

{% block title %}New NotesEtudiant
{% endblock %}

{% block body %}
    <h1 class="offset-4">Modification de la note</h1>
    <div class="content-wrapper container">
        <div class="form-group col-4 offset-2">
            <form action="{{path('notes_etudiant_edit',{id:notes_etudiant.id})}}" method="post">
                Etudiant
                <input type="text" class="form-control" name="cours" value="{{notes_etudiant.inscription.etudiant.nom}}" disabled>
                Cours
                <input type="text" class="form-control" name="cours" value="{{notes_etudiant.ue.matiere.nom}}" disabled>
                Moyenne
                <input type="text" name="moyenne" id="" class="form-control" value="{{notes_etudiant.moyenne}}">
                <br>
                <button type="submit" class="form-control btn btn-success">Modifier</button>
            </form>
        </div>
        <br></div>
    {% endblock %}
