{% extends 'layout/layout.html.twig' %}

{% block body %}
    <!-- Content Wrapper. Contains page content -->
    <div
        class="content-wrapper">

        <!-- Main content -->
        <section class="content">
            <div
                class="container-fluid">
                <!-- Info boxes -->
                <div class="row">

                    <div class="col-12">
                        <br>
                            <h5 class="h5">

                                <a class="btn btn-primary offset-2" href="{{path('notes_etudiant_index')}}">
                                    Retour vers les notes
                                    <i class="fa fa-th"></i>
                                </a>

                            </h5>

                        </div>
                        <!-- /.col -->

                    </div>
                    <!-- /.row -->

                    <div class="row">
                        <div class="col-md-6 offset-2">

                            <div class="card insert-filiere">

                                <div class="card-body">
                                    <form action="" method="post">
                                        <input type="text" name="moyenne" value="{{notes_etudiant.moyenne}}" class="form-control" id="">
                                            <br>
                                                <button type="submit" class="btn btn-primary form-control">Mettre à jour</button>
                                            </form>
                                        </div>

                                    </div>

                                </div>
                                <!-- /.col niveau -->
                            </div>
                            <!-- /.row -->

                        </div>

                    </section>
                    <!-- /.content -->
                </div>
                <!-- /.content-wrapper -->
            {% endblock %}
