{% extends 'base.html.twig' %}

{% block body %}
    <!-- Content Wrapper. Contains page content -->
    <div
        class="content-wrapper">

        <!-- Main content -->
        <section class="content">
            <br>
                <div class="row">
                    <div class="col-md-8 offset-2">
                        <div class="card ">
                            <h5 class="offset-2">Selectionnez un Etudiant...</h5>

                            <div class="card-body table-responsive p-0" style="height: 400px;">

                                <table class="table table-head-fixed text-nowrap">

                                    <form action="{{ path('notes_actionListeEtudiants') }}" method="post">

                                        <tr>
                                            <td>
                                                <select name="etudiantId" id="" class="form-control">
                                                    {% for ms in inscriptions %}
                                                        <option value="{{ ms.id }}">{{ ms.etudiant.nom }}</option>
                                                    {% else %}
                                                        <option value="">Tableau vide...</option>
                                                    {% endfor %}
                                                </select>
                                            </td>

                                        </tr>
                                        <tr>
                                            <td colspan="3">
                                                <button name="enregistrer" class="btn btn-success form-control" type="submit">Suivant</button>
                                            </td>
                                        </tr>
                                    </form>

                                </div>

                            </div>
                        </table>
                        <!-- /.content-wrapper -->

                    </div>
                </div>
                <!-- /.card -->
            </div>
        </div>

    </section>
{% endblock %}
