{% extends 'base.html.twig' %}

{% block title %}New NotesEtudiant
{% endblock %}

{% block body %}
    <h1 class="offset-4">Creer une nouvelle note</h1>
    <div class="content-wrapper container">
        {{ include('notes_etudiant/_form.html.twig') }}
        <br>
        

    </div>
{% endblock %}
