{% extends 'base.html.twig' %}

{% block title %}UniversgController!
{% endblock %}

{% block body %}
	<!-- Content Wrapper. Contains page content -->
	<div
		class="content-wrapper">

		<!-- Main content -->
		<section class="content">
			<div
				class="container-fluid">
				<!-- Info boxes -->
				<div class="row">
					<div class="col-12 col-sm-6 col-md-3">
					<br>
						<h5 class="h5">
							<a href="" class="btn btn-primary"> Liste des notes 
							<i class="fa fa-th"></i></a>
						
						</h5>
					</div>
					<!-- /.col -->

				</div>
				<!-- /.row -->
				<div class="row">
					<div class="col-md-12">
						<table class="table">
							<tr>
								<th>Notes</th>
							</tr>
						</table>
					</div>
				</div>
				<!-- /row-->

				<div class="row">
					<div class="col-md-8 offset-1">
						<form action="{{path('notes_etudiants_ajout_notes')}}" method="post">
							<table class="table table-bordered"></p>

							<tr>
								<th>Matieres</th>
								<th>Note</th>
							</tr>

							<tr>
								<td>
									<select type="text" name="ue" class="form-control" id="">

										{% for ue in matieres %}
											<option value="{{ue.id}}">{{ue.nom}}</option>
										{% else %}
											<option value="">Liste vide</option>
										{% endfor %}
									</select>
								</td>

								<td>
									<input type="text" name="moyenne" id="" class="form-control" placeholder="coefficient de la matiere..">
								</td>
							</tr>
						</td>
					</tr>

				</table>

			</div>
			<!-- /col -->

		</div>
		<!-- /.row -->

		<div class="row">
			<div class="col offset-3">
				<div class="form-group">
					<a href="{{path('notes_etudiants_choixEtudiant_notes')}}" class="btn btn-primary">Retour</a>
					<button type="submit" style="width:190px;" class="btn btn-primary">Enregister</button>
				</div>
			</form>
		</div>

	</div>
	<!--/row-->

</section>
<!-- /.content --></div><!-- /.content-wrapper -->{% endblock %}
