
<h1>{{titre}}</h1>

<div>
    <table border='2' width='100%'>

        {% for matiere in matieres %}
            <tr>
                <td>{{matiere.nom}}</td>
            </tr>
        {% else %}
            
        {% endfor %}

    </table>
</div>
