{% extends 'base.html.twig' %}

{% block title %}UniversgController!
{% endblock %}

{% block body %}
	<!-- Content Wrapper. Contains page content -->
	<div
		class="content-wrapper">

		<!-- Main content -->
		<section class="content">
			<div
				class="container-fluid">
				<!-- Info boxes -->

				<div class="row">
					<div class="col-md-6">
						<h5>Liste des cours</h5>
						<div class="btn btn-warning">
							<p>Filiere: | Classe: | Semestre:</p>
						</div>
						<table class="table table-bordered">

							<tr>
								<th style="width:25%;">Actions</th>
								<th>Matiere</th>
							</tr>
							{% for matiere in uesUserFiliereNiveau %}
								<tr>
									<td>
										<a class="btn btn-info" href="{{path('matieres_transfert',{id:matiere.id})}}">
											<i class="fa fa-edit"></i>
										</a>
										<a class="btn btn-danger" href="{{path('matieres_ue_suppression',{id:matiere.id})}}">
											<i class="fa fa-times"></i>
										</a>
									</td>
									<td>{{matiere.matiere.nom}}</td>
								</tr>
							{% else %}
								<tr>
									<td colspan="4">Liste vide !</td>
								</tr>
							{% endfor %}


						</table>
					</div>
					<!-- col -->

					
				</div>
				<!-- row -->
				</div>
				
			<!-- /.content -->
		</div>
		<!-- /.content-wrapper -->
	{% endblock %}
